<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evania</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   
</head>
<body>
 

    <header>

        <nav>
            <ul>
                <li><a href="#home"  data-nav-link>Home</a></li>
                <li><a href="#about-us" data-nav-link>About</a></li>
                <li><a href="/packages" data-nav-link>Packages</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/queries" data-nav-link>Queries</a></li>
            </ul>
        </nav>
    </header>
    
     <section id="home">
        <video id="background-video" autoplay loop muted poster="3576378-uhd_3840_2160_25fps.mp4">
            <source src="/static/3576378-uhd_3840_2160_25fps.mp4" type="video/mp4">
        </video>
        <div class="txt"> 
            <h1>Evania</h1>
            <p>Where tranquility meets adventure</p>
        </div>
    </section>
     

   <section id="about-us">
        <div class="about">
          <img src="/static/aboutus_img.jpg" class="pic" />
          <div class="text">
            <h2>About Us</h2>
            <p>Welcome to Evania, your gateway to unforgettable travel experiences! At Evania, we believe that every journey is a story waiting to be written. Our mission is to inspire wanderlust, connect you with unique destinations, and make travel seamless and memorable.
  
              Whether you're seeking serene escapes, thrilling adventures, or cultural discoveries, we've got you covered with curated travel guides, personalized itineraries, and expert tips. Let Evania be your trusted companion as you explore the world, one destination at a time.
              
              Adventure awaits—let’s embark on your next journey together!
              </p>
            
          </div> 
          
        </div>
    </section>


    


    
    
</body>
</html>